.toolbar {
  background-color: var(--sys-surface-container);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: inherit;
  text-decoration: none;

  font-size: var(--sys-title-medium-size);
}

.nav-link.active {
  background-color: var(--sys-primary-container);
}

.right-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}