<div>
  
  <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
      <label for="numberOfQuestions">Number Of Questions:</label>
      <input type="text" name="numberOfQuestions" class="input-style" formControlName="numberOfQuestions"/>

      <ng-container *ngIf="settingForm.controls['numberOfQuestions'].touched && settingForm.controls['numberOfQuestions'].errors">
        <div *ngIf="settingForm.controls['numberOfQuestions'].errors['required']" class="error">Required</div>
        <div *ngIf="settingForm.controls['numberOfQuestions'].errors['maxlength']" class="error"> Number Of Questions Must Be Between 5 - 20</div>
        <div *ngIf="settingForm.controls['numberOfQuestions'].errors['pattern']" class="error"> Must Enter Numbers Only</div>
      </ng-container>
      
      <ng-container *ngIf="settingForm.controls['mode'].errors">
        <div *ngIf="settingForm.controls['mode'].errors['required']" class="error">Mode Required</div>
      </ng-container>

      <label for="mode">Difficulty Mode</label>
      <select formControlName="mode">  
        <option *ngFor="let mode of difficultyModes" [ngValue]="mode.mode">
          {{ mode.mode | titlecase }}
        </option> 
      </select>
      <button >Update Settings</button>
      <!-- [disabled]="settingForm.invalid" [ngClass]="settingForm.invalid ? 'disabled' : ''" -->
    </form>

  </div>

    

