<div>
  
  <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
      <label for="numberOfQuestions">Number Of Questions:</label>
      <input id="numberOfQuestions" type="number" name="numberOfQuestions" class="input-style" formControlName="numberOfQuestions"/>

      <ng-container *ngIf="settingForm.controls['numberOfQuestions'].touched && settingForm.controls['numberOfQuestions'].errors">
        <div *ngIf="settingForm.controls['numberOfQuestions'].errors['required']" class="error">Required</div>
        <div *ngIf="settingForm.controls['numberOfQuestions'].errors['max']" class="error"> Number of Questions must be between 5 - 25</div>
        <div *ngIf="settingForm.controls['numberOfQuestions'].errors['min']" class="error"> Number of Questions must be between 5 - 25</div>
      </ng-container>
      
      <ng-container *ngIf="settingForm.controls['mode'].errors && settingForm.controls['mode'].touched">
        <div *ngIf="settingForm.controls['mode'].errors!['required']" class="error">Mode Required</div>
      </ng-container>

      <label for="mode">Difficulty Mode</label>
      <select id="mode" formControlName="mode">  
        <option *ngFor="let mode of difficultyModes" [ngValue]="mode.mode">
          {{ mode.mode | titlecase }}
        </option> 
      </select>
      <button [disabled]="settingForm.invalid" [ngClass]="settingForm.invalid ? 'disabled' : ''">Update Settings</button>
    </form>

  </div>

    

