#question-container-header {
    font-size: var(--sys-headline-large-size);
}

.question-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

#question-form {
    display: flex;
    flex-direction: column;
}

#submit-answer {
    margin-left: auto;
}

#next-question {
    margin-left: auto;
}

#choices-card-container {
    padding: 1rem;
    background-color: var(--sys-surface-container-lowest);
    color: var(--sys-on-surface);

    width: 500px;
}

#question-header {
    font-size: var(--sys-headline-large-size);
    padding: 1rem;
}

.choices-container {
    display: flex;
    flex-direction: column;
}

.choice {
    margin: 0.25rem 0;
    padding: 0.25rem 0;
}

.correct {
    background-color: var(--sys-primary-container);
    border-radius: 0.5rem;
    filter: brightness(2);
}

.incorrect {
    background-color: var(--sys-error-container);
    border-radius: 0.5rem;
}

.neutral {

}