@if (authLoading || configLoading) {
  <div>Loading...</div>
}
@if (!authLoading && !configLoading) {
  <div>
    Genre:
    <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
      <option [value]=""></option>
      @for (genre of genres; track genre) {
        <option [value]="genre">
          {{ genre }}
        </option>
      }
    </select>
      <mat-icon fontSet="material-symbols-outlined">face</mat-icon>
  </div>
}

<app-audio-player audioSrc="https://p.scdn.co/mp3-preview/c2bba2c5eb6cedab9db6782a0a3356d85de76b4c?cid=26ee8fd690f6487ab83f782bb4ba6b4e"></app-audio-player>