<div class="intro-container">
  <p> Who's Who is an interactive music guessing game that challenges your 
    knowledge of artists and songs. In each round, you'll listen to a short 
    audio clip from a song and then choose the correct artist or song title 
    from multiple-choice options. Test your musical memory!!</p>
  <button mat-flat-button color="primary" routerLink="/settings">Start Game!</button>
  <app-audio-player audioSrc="https://p.scdn.co/mp3-preview/c2bba2c5eb6cedab9db6782a0a3356d85de76b4c?cid=26ee8fd690f6487ab83f782bb4ba6b4e"></app-audio-player>
</div>
