<div class="intro-container">
  <p class="intro-text">Who's Who is an interactive music guessing game that challenges your
    knowledge of a wide variety of songs. In each round, you'll listen to a short
    audio clip from a song and then choose the correct song title.</p>
    <p class="intro-text">Test your musical memory!!</p>

    <div class="button-container">
        <button class="home-button" mat-flat-button color="primary" routerLink="/play">Start Game</button>
        <button class="home-button" mat-stroked-button color="primary" routerLink="/settings">Load Your Own Playlist</button>
    </div>
</div>
